<div class="signup-form"><!--sign up form-->
    <h2>New User Signup!</h2>
        <form class="form-horizontal" method="post" action="{% url 'account:register' %}">
            {% csrf_token %}
          <fieldset>
              {% for field in userform %}
                  {% if field.errors and field.required %}
                      <div class="control-group error">
                          <label class="control-label">
                              {% if field.label == "Username" %}
                                E-Mail/Username:
                              {% else %}
                                {{ field.label }}
                              {% endif %}
                          </label>
                          <div class="controls">{{ field }}
                              <span style="color:red" class="help-inline">
                                  {% for error in  field.errors %}{{ error }}{% endfor %}
                              </span>
                          </div>
                      </div>
                  {% else %}
                    {% if field.field.required %}
                      <div class="control-group">
                         <label class="control-label">
                            {% if field.label == "Username" %}
                                E-Mail:
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                          <div class="controls">{{ field }}
                              {% if field.help_text %}
                                  <p class="help-inline"><small>{{ field.help_text }}</small></p>
                              {% endif %}
                          </div>
                      </div>
                    {% endif %}
                  {% endif %}
              {% endfor %}
          </fieldset>
          <div class="form-actions">
              <button type="submit" class="btn btn-primary" >Submit</button>
          </div>
      </form>
</div><!--/sign up form-->
